*.dll
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
**/target
**/out
**/.idea
*.iml
.svn
.DS_Store
services/pathname
.settings/
.allure/
.project
.classpath
screens/
test-output/
termium.log
allure-results/
allure-report/
build/reports/
target/
